.at-cell{
  padding: 0 10px;
}
.at-table {
  $this: &;
  $color-bg: $color-lightest;

  position: relative;

  line-height: 30px;
  text-align: left;

  table{
    min-width: 100%;
    // border: solid 1px $color-dark-20;
    border-top: none;
    // border-collapse: collapse;
    border-spacing: 0;
  }

  th, td{
    // border: solid 1px $color-dark-20;
  }


  &--fixed {
    width: 100%;
    height: 100%;
    overflow: auto;

    th{
      position: sticky;
      background-color: rgba($color-bg, 0.9);
      backdrop-filter: blur(2px);
      z-index: 2;
    }

    #{$this}__thead{

      th{
        top: 0;
      }
    }
  }
}