/* prettier-ignore */

// Grayscale
                         $color-darkest:  #000;
$color-gray-1:   #161616; $color-dark:    $color-gray-1;
$color-gray-3:   #333;    $color-dark-80: $color-gray-3;
$color-gray-6:   #666;    $color-dark-60: $color-gray-6;
$color-gray-9:   #999;    $color-dark-40: $color-gray-9;
$color-gray-c:   #CCC;    $color-dark-20: $color-gray-c;
$color-gray-e:   #E6E6E6; $color-dark-10: $color-gray-e;
$color-gray-f:   #F4F4F4; $color-light:   $color-gray-f;
                          $color-lightest: #FFF;

// Flat UI Colors 2 -- American Palette
$color-prunus-avium:        #E84393;
$color-pico-8-pink:         #FD79A8;
$color-chi-gong:            #D63031;
$color-pink-glamour:        #FF7675;
$color-orangeville:         #E17055;
$color-first-date:          #FAB1A0;
$color-bright-yarrow:       #FDCB6E;
$color-sour-lemon:          #FFEAA7;
$color-mint-leaf:           #00B894;
$color-light-greenish-blue: #55EFC4;
$color-robins-egg-blue:     #00CEC9;
$color-faded-poster:        #81ECEC;
$color-electron-blue:       #0984E3;
$color-green-darner-tail:   #74B9FF;
$color-exodus-fruit:        #6C5CE7;
$color-shy-moment:          #A29BFE;
$color-dracula-orchid:      #2D3436;
$color-american-river:      #636E72;
$color-soothing-breeze:     #B2BEC3;
$color-city-lights:         #DFE6E9;


$color-major: $color-electron-blue; // temp
$color-major-hover: $color-green-darner-tail; // temp

$color-minor: $color-gray-9; // temp

:root {
  --color-major: #{$color-major};
  --color-minor: #{$color-minor};
}