// Use normalize.css to reboot user-agent styles
@import './normalize';

@import './variables';

@import './mixins';

@import './layout';

@import './widget';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.global-font{
  color: $global-font-color;
  font: $global-font;
}

body{
  background-color: $global-background-color;

  @extend .global-font;
}

