.at-radio{
  $this: &;

  --size: #{$size-normal};

  --border-color: #{$color-dark-40};
  --outline-color: transparent;
  --core-color: #{$color-dark-10};
  --label-color: #{$color-dark-80};

  $size: 14px;
  $core-size: 8px;

  position: relative;
  display: block;
  outline: none;

  &__symbol{
    display: inline-block;
    vertical-align: middle;
    width: $size;
    height: $size;
    background: $color-lightest;
    border: solid 1px var(--border-color);
    border-radius: 50%;
    // outline: solid 2px var(--outline-color);
    margin: -1px 0 0;

    &::after{
      content: '';
      display: block;
      width: $core-size;
      height: $core-size;
      background: var(--core-color);
      border-radius: 50%;
      margin: 2px;
    }
  }
  &__original{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &__label{
    margin: 0 0 0 8px;
    color: var(--label-color);
    font-size: calc(var(--size) / 2 - var(--size) / 16);
    line-height: var(--size);
  }

  &:focus, &:focus-within, &:hover {
    --border-color: #{$color-major};
    --outline-color: #{rgba($color-major, .16)};
  }
  &--checked {
    --border-color: #{$color-major};
    --core-color: #{$color-major};
    --label-color: #{$color-major};
    &#{$this}--disabled{
      --core-color: #{$color-dark-20};
    }
  }
  &--disabled {
    --border-color: #{$color-dark-20} !important;
    --outline-color: transparent !important;
    --core-color: #{$color-light};
    --label-color: #{$color-dark-20};

    cursor: not-allowed;

    &:active {
      pointer-events: none;
    }
  }

}